<div class="container-fluid center">

  <div *ngIf="!userLoggedIn" class="topMarge">
    <form (ngSubmit)="onLogin()">
      <md-form-field>
        <input mdInput type="text" name="user.nickname" [(ngModel)]="user.nickname" placeholder="Nickname" autocomplete="false" required>
      </md-form-field>
      <button type="submit" md-raised-button color="primary">Login</button>
    </form>
  </div>

  <div *ngIf="userLoggedIn">
    <h3>Nickname : {{user.nickname}}</h3>
    <hr/>
    <h4>Utilisateurs connectés</h4>
    <p>Sélectionnez les personnes avec qui discuter puis cliquer sur Rejoindre pour commencer à discuter</p>
    <md-selection-list>
      <md-list-option *ngFor="let u of listUser" (click)="onUsersSelected(u)">
        <p>{{u.nickname}}</p>
      </md-list-option>
    </md-selection-list>
    <button md-raised-button color="primary" (click)="joinRoom()" class="button-position">Rejoindre</button>
    <p>
      Users selected: {{selectedUsers | json}}
    </p>
  </div>

</div>