<div class="">
    <form [formGroup]="registerForm">
        <mat-form-field>
            <input matInput placeholder="nickname" formControlName="nickname" />

        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="email" formControlName="email" />

        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="password" formControlName="password" />

        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="confirmPassword" formControlName="confirmPassword" />

        </mat-form-field>
    </form>
</div>