<div class="form" (submit)="onRegister()">
    <form [formGroup]="registerForm" class="">
        <mat-form-field>
            <input matInput placeholder="nickname" formControlName="nickname" required />
            <mat-error *ngIf="registerForm.controls.nickname.errors">{{getErrorMessage('nickname')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="email" formControlName="email" required />
            <mat-error *ngIf="registerForm.controls.email.errors">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="password" formControlName="password" required />
            <mat-error *ngIf="registerForm.controls.password.errors">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="confirmPassword" formControlName="confirmPassword" required />
            <mat-error *ngIf="registerForm.controls.confirmPassword.errors">{{getErrorMessage('confirmPassword')}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
</div>