.login-container {
  display: flex;
  flex-direction: column;
}

.login-container > * {
  width: 100%;
}

.login-card {
  margin-top: 30px;
}

.register-link {
  font-size: 12px !important;
  margin-left: 35px !important;
}

.login-button {
  margin-left: 40px !important;
}