<span class="col-lg-4 col-md-4 col-sm-4 col-xs-2"></span>

<mat-card class="login-card col-lg-4 col-md-4 col-sm-4 col-xs-8">
  <form role="form" [formGroup]="loginForm" (submit)="onLogin()">

    <mat-card-content>
      <h2 class="page-header">Se connecter</h2>
      <div class="login-container">
        <mat-form-field>
          <input matInput placeholder="nickname" formControlName="nickname" required />
          <mat-error *ngIf="loginForm.controls.nickname.errors">{{getErrorMessage('nickname')}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="password" formControlName="password" required />
          <mat-error *ngIf="loginForm.controls.password.errors">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" class="login-button" [disabled]="!loginForm.valid || processing" type="submit">Login</button>
      <a routerLink="/register" class="register-link"> Pas de compte ? S'enregistrer</a>
    </mat-card-actions>

  </form>
</mat-card>

<span class="col-lg-4 col-md-4 col-sm-4 col-xs-2"></span>