<div class="container-fluid center">
    <h3 *ngIf="user.nickname !== ''">Nickname : {{user.nickname || ''}}</h3>
    <hr/>
    <h4>Utilisateurs connectés</h4>
    <p>Sélectionnez les personnes avec qui discuter puis cliquer sur Rejoindre pour commencer à discuter</p>
    <mat-selection-list>
        <mat-list-option *ngFor="let u of listUser" (click)="onUsersSelected(u)">
            <p>{{u.nickname}}</p>
        </mat-list-option>
    </mat-selection-list>
    <button mat-raised-button color="primary" (click)="joinRoom()" class="button-position">Rejoindre</button>
    <p>
        Users selected: {{selectedUsers | json}}
    </p>
</div>