<div class="container topMarge">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-comment"></span> Chat
          <div class="btn-group pull-right">
            <button type="button" (click)="onLogout()" class="btn btn-default btn-xs">Se déconnecter</button>
          </div>
        </div>
        <div class="panel-body">
          <ul class="chat">
            <li *ngFor="let m of listMessages">
              <div class="left clearfix" *ngIf="m.nickname===nickname; else rightchat">
                <span class="chat-img pull-left">
                      <img src="http://placehold.it/50/55C1E7/fff&text=ME" alt="User Avatar" class="img-circle" />
                    </span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font">{{ m.nickname }}</strong> <small class="pull-right text-muted">
                                          <span class="glyphicon glyphicon-time"></span>{{ m.date | date: 'medium' }}</small>
                  </div>
                  <p class="msg-space">{{ m.message }}</p>
                </div>
              </div>
              <ng-template #rightchat>
                <div class="right clearfix">
                  <span class="chat-img pull-right">
                        <img src="http://placehold.it/50/FA6F57/fff&text=U" alt="User Avatar" class="img-circle" />
                      </span>
                  <div class="chat-body clearfix">
                    <div class="header">
                      <small class="text-muted"><span class="glyphicon glyphicon-time"></span>{{ m.date | date: 'medium' }}</small>
                      <strong class="pull-right primary-font">{{ m.nickname }}</strong>
                    </div>
                    <p>{{ m.message }}</p>
                  </div>
                </div>
              </ng-template>
          </ul>
        </div>

        <div class="panel-footer">
          <form class="form-inline">
            <div class="form-group full-width">
              <!-- <input id="btn-input" type="text" class="form-control " name="message" [(ngModel)]="message" placeholder="message . . ."
              autofocus required/>
            <span class="input-group-btn">
                          <button (click)="sendMessage()" class="btn btn-warning " id="btn-chat">Send</button>
            </span> -->
              <span class="row">
                <span class="col-md-11 col-sm-11 col-lg-11 col-xs-12">
                    <md-form-field class="textArea-size">
                        <textarea id="btn-input" mdInput mdTextareaAutosize mdAutosizeMinRows="2"
                         (keyup.enter)="sendMessage()" name="message" autocomplete="false" 
                          [(ngModel)]="message" required placeholder="message..."></textarea>
                      </md-form-field>
                </span>
              <span class="col-md-1 col-sm-1 col-lg-1 col-xs-6">
                  <button id="btn-chat" md-raised-button color="primary" (click)="sendMessage()" class="button-position">Send</button>                 
              </span>
              </span>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>