<div class="container center">
    <h2>Register</h2>
    <form [formGroup]="registerForm" class="register-container">
        <mat-form-field>
            <input matInput placeholder="nickname" formControlName="nickname" required />
            <mat-error *ngIf="registerForm.controls.nickname.errors">{{getErrorMessage('nickname')}}</mat-error>
        </mat-form-field>
        <mat-form-field class="input-top-margin">
            <input matInput placeholder="email" formControlName="email" required />
            <mat-error *ngIf="registerForm.controls.email.errors">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
        <div formGroupName="passwords" class="passwords-container">
            <mat-form-field class="input-top-margin">
                <input matInput type="password" placeholder="password" formControlName="password" required />
                <mat-error *ngIf="passwords.controls.password.errors">{{getErrorMessage('password')}}</mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field class="input-top-margin">
                <input matInput type="password" placeholder="confirmPassword" formControlName="confirmPassword" required />
                <mat-error *ngIf="passwords.controls.confirmPassword.errors">{{getErrorMessage('confirmPassword')}}</mat-error>
            </mat-form-field>
            <span *ngIf="passwords.errors && passwords.controls.password.touched && passwords.controls.confirmPassword.touched" class="error">{{getErrorMessage('passwords')}}</span>
        </div>
        <br/>
        <button mat-raised-button color="primary" [disabled]="!registerForm.valid || processing" (click)="onRegister()" type="submit">Register</button>
        <label for="login">Déjà un compte ?</label>
        <button mat-raised-button [disabled]="processing" routerLink="/login" id="login">Se connecter</button>
    </form>
</div>