<span class="col-lg-4 col-md-4 col-sm-4 col-xs-2"></span>

<mat-card class="register-card col-lg-4 col-md-4 col-sm-4 col-xs-8">
    <form [formGroup]="registerForm" (submit)="onRegister()">
        <mat-card-content>
            <h2 class="page-header">Création de compte</h2>

            <div class="register-container">

                <mat-form-field>
                    <input matInput placeholder="nickname" formControlName="nickname" required />
                    <mat-error *ngIf="registerForm.controls.nickname.errors">{{getErrorMessage('nickname')}}</mat-error>
                </mat-form-field>

                <mat-form-field class="input-top-margin">
                    <input matInput placeholder="email" formControlName="email" required />
                    <mat-error *ngIf="registerForm.controls.email.errors">{{getErrorMessage('email')}}</mat-error>
                </mat-form-field>

                <div formGroupName="passwords" class="passwords-container">

                    <mat-form-field class="input-top-margin">
                        <input matInput type="password" placeholder="password" formControlName="password" required />
                        <mat-error *ngIf="passwords.controls.password.errors">{{getErrorMessage('password')}}</mat-error>
                    </mat-form-field>
                    <br/>

                    <mat-form-field class="input-top-margin">
                        <input matInput type="password" placeholder="confirmPassword" formControlName="confirmPassword" required />
                        <mat-error *ngIf="passwords.controls.confirmPassword.errors">{{getErrorMessage('confirmPassword')}}</mat-error>
                    </mat-form-field>
                    <span *ngIf="passwords.errors && passwords.controls.password.touched && !passwords.controls.confirmPassword.pristine" class="error">{{getErrorMessage('passwords')}}</span>

                </div>
            </div>
        </mat-card-content>

        <mat-card-actions style="margin-top: -20px !important;">
            <br/>
            <button mat-raised-button color="primary" class="register-button" [disabled]="!registerForm.valid || processing" type="submit"
                type="submit">S'enregistrer</button>
            <a routerLink="/login" class="login-link">Déjà un compte ? Se connecter</a>
        </mat-card-actions>
    </form>
</mat-card>

<span class="col-lg-4 col-md-4 col-sm-4 col-xs-2"></span>